footer.footer
  .footer-wrapper.center-block-main.block-4-main
    article
      h2 Our stories
      .footer-block-content
        p Feel free to visit our stores or contact us.
          |1401 South Grand Avenue 
          |Los Angeles, CA 90015 
          |(213) 748-2411

        p 100 Fairview Drive 
          |Franklin, VA 23851 
          |(757) 569-6100 
    article
      h2 Blog posts
      .footer-block-conten
        h3 #[a(href="#!") Justin Bieber confirmed that he is gay.]
        p Lorem ipsum dolor sit amet, consectetur
          |adipiscing elit. Donec sed auctor elit.

        h3 #[a(href="#!") New sexy sport clothes are here!]
        p Lorem ipsum dolor sit amet, consectetur
          |adipiscing elit. Donec sed auctor elit.

        h3 #[a(href="#!") Summer sales are coming!]
        p Lorem ipsum dolor sit amet, consectetur
          |adipiscing elit. Donec sed auctor elit.     
    article
      h2 Support
      .footer-block-content
      p.support
        a(href="#!") Terms & conditions
        a(href="#!") FAQ
        a(href="#!") Payment
        a(href="#!") Refunds
        a(href="#!") Track Order
      p.support
        a(href="#!") Services
        a(href="#!") Privacy & Security
        a(href="#!") Careers
        a(href="#!") Press
    article
      h2 Contact Us
      .footer-block-content
      form
        input.footermail(type="email", placeholder="your e-mail...")
        textarea.footertext(placeholder="your text...")
        input.footersubmit(type="submit",value="Send message")
