header
  .center-block-main
    .header-top
      p.logo Biruang
      .contact-basket
        p.header-phone
          img(src="assets/img/ico-phone.jpg", alt="+371 282 20 760") 
          |  +371 282 20 760
        p.header-basket
          img(src="assets/img/ico-basket.jpg", alt="Basket") 
          |  $ 99.54 
          a(href="#!") Checkout
    .header-bottom
      nav
        ul.menu
          li
            a(href="#!") Home
          li
            a(href="#!") Men
          li
            a(href="#!") Women
          li
            a(href="#!") Kids
          li
            a(href="#!") Sale
          li
            a(href="#!") About Us
          li
            a(href="#!") Support
      .search-block
        form(action="", method="get")
          input.search-btn(type="image", src="assets/img/search-btn.jpg")
          input.search(type="search", placeholder="Search...")
      
