.my-slider.center-block-main
  ul
    li 
      h2 Right is pink. #[br] Left is blue
      p Inspirated by Brasil's bold colors and matching up to football's on pitch #[br] playmakers, this kicks are ready to stand out.
      img(src="assets/img/slide1.jpg", alt="Slide-1")
    
    li 
      h2 Right is pink. #[br] Left is blue
      p Inspirated by Brasil's bold colors and matching up to football's on pitch #[br] playmakers, this kicks are ready to stand out.
      img(src="assets/img/slide1.jpg", alt="Slide-2")
    
    li 
      h2 Right is pink. #[br] Left is blue
      p Inspirated by Brasil's bold colors and matching up to football's on pitch #[br] playmakers, this kicks are ready to stand out.
      img(src="assets/img/slide1.jpg", alt="Slide-3")
    
