.subscribe
  .subscribe-wrapper.center-block-main
    h2 #[strong Sign up] for exclusive sales and product news
    .subscribe-form
      form(action="", method="get")
        input.email-input(type="email", placeholder="myemail@gmail.com")
        input.submit-input(type="submit", value="sign up")
