section.block-4-section.center-block-main
  h2 Popular products
  .block-4-main
    article
      img(src="assets/img/img41.jpg", alt="")
      .block-4-main-content
        .description
          h2 Nike Tailwind Loose
          h3 Running Tank Top
          p The Nike Tailwind Loose Women's Running Tank Top is made with sweat-wicking fabric to help you  stay dry and comfortable on your run.
        p.price-basket
          span.price $ 36.99
          span.basket-btn
            a(href="#!")
              img(src="assets/img/ico-plus.jpg", alt="")
    article
      img(src="assets/img/img42.jpg", alt="")
      .block-4-main-content
        .description
          h2 Nike g87
          h3 Training Tank Top
          p The Nike G87 Women's Training Tank Top features soft, sweat-wicking fabric and a regular fit for total comfort during any workout.
        p.price-basket
          span.price $ 36.99
          span.basket-btn
            a(href="#!")
              img(src="assets/img/ico-plus.jpg", alt="")
    article
      img(src="assets/img/img43.jpg", alt="")
      .block-4-main-content
        .description
          h2 Nike I-Beam Swoosh
          h3 Sports Top
          p The Nike I-Beam Swoosh Women's Sports Top features a built-in bra and mesh back panel for lightweight support and targeted breathability.
        p.price-basket
          span.price $ 36.99
          span.basket-btn
            a(href="#!")
              img(src="assets/img/ico-plus.jpg", alt="")
    article
      img(src="assets/img/img44.jpg", alt="")
      .block-4-main-content
        .description
          h2 Nike lux
          h3 RRunning Top
          p The Nike Lux Women's Running Top is made with 
            |lightweight Dri-FIT fabric and features a perforated 
            |back panel for comfort and enhanced breathability.
            |lightweight Dri-FIT fabric and features a perforated 
            |back panel for comfort and enhanced breathability.
            |lightweight Dri-FIT fabric and features a perforated 
            |back panel for comfort and enhanced breathability.
            |lightweight Dri-FIT fabric and features a perforated 
            |back panel for comfort and enhanced breathability.
        p.price-basket
          span.price $ 36.99
          span.basket-btn
            a(href="#!")
              img(src="assets/img/ico-plus.jpg", alt="")
