.block-3-main.center-block-main
  article
    img(src="assets/img/img31.jpg", alt="")
    h2 
      a(href="#!") Football shoes
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus laudantium, dolor beatae pariatur at ut.
  article
    img(src="assets/img/img32.jpg", alt="")
    h2 
      a(href="#!") Modern clothes 
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus laudantium, dolor beatae pariatur at ut.
  article
    img(src="assets/img/img33.jpg", alt="")
    h2 
      a(href="#!") Bags & accesories
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus laudantium, dolor beatae pariatur at ut.
