
<footer class="footer">
  <div class="footer-wrapper center-block-main block-4-main">
    <article>
      <h2>Our stories</h2>
      <div class="footer-block-content">
        <p>
          Feel free to visit our stores or contact us.
          1401 South Grand Avenue 
          Los Angeles, CA 90015 
          (213) 748-2411
        </p>
        <p>
          100 Fairview Drive 
          Franklin, VA 23851 
          (757) 569-6100 
        </p>
      </div>
    </article>
    <article>
      <h2>Blog posts</h2>
      <div class="footer-block-conten">
        <h3><a href="#!">Justin Bieber confirmed that he is gay.</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Donec sed auctor elit.
        </p>
        <h3><a href="#!">New sexy sport clothes are here!</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Donec sed auctor elit.
        </p>
        <h3><a href="#!">Summer sales are coming!</a></h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Donec sed auctor elit.     
        </p>
      </div>
    </article>
    <article>
      <h2>Support</h2>
      <div class="footer-block-content"></div>
      <p class="support"><a href="#!">Terms & conditions</a><a href="#!">FAQ</a><a href="#!">Payment</a><a href="#!">Refunds</a><a href="#!">Track Order</a></p>
      <p class="support"><a href="#!">Services</a><a href="#!">Privacy & Security</a><a href="#!">Careers</a><a href="#!">Press</a></p>
    </article>
    <article>
      <h2>Contact Us</h2>
      <div class="footer-block-content"></div>
      <form>
        <input type="email" placeholder="your e-mail..." class="footermail"/>
        <textarea placeholder="your text..." class="footertext"></textarea>
        <input type="submit" value="Send message" class="footersubmit"/>
      </form>
    </article>
  </div>
</footer>