
<div class="block-3-main center-block-main">
  <article><img src="assets/img/img31.jpg" alt=""/>
    <h2> <a href="#!">Football shoes</a></h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus laudantium, dolor beatae pariatur at ut.</p>
  </article>
  <article><img src="assets/img/img32.jpg" alt=""/>
    <h2> <a href="#!">Modern clothes </a></h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus laudantium, dolor beatae pariatur at ut.</p>
  </article>
  <article><img src="assets/img/img33.jpg" alt=""/>
    <h2> <a href="#!">Bags & accesories</a></h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus laudantium, dolor beatae pariatur at ut.</p>
  </article>
</div>