
<section class="block-4-section center-block-main">
  <h2>Popular products</h2>
  <div class="block-4-main">
    <article><img src="assets/img/img41.jpg" alt=""/>
      <div class="block-4-main-content">
        <div class="description">
          <h2>Nike Tailwind Loose</h2>
          <h3>Running Tank Top</h3>
          <p>The Nike Tailwind Loose Women's Running Tank Top is made with sweat-wicking fabric to help you  stay dry and comfortable on your run.</p>
        </div>
        <p class="price-basket"><span class="price">$ 36.99</span><span class="basket-btn"><a href="#!"><img src="assets/img/ico-plus.jpg" alt=""/></a></span></p>
      </div>
    </article>
    <article><img src="assets/img/img42.jpg" alt=""/>
      <div class="block-4-main-content">
        <div class="description">
          <h2>Nike g87</h2>
          <h3>Training Tank Top</h3>
          <p>The Nike G87 Women's Training Tank Top features soft, sweat-wicking fabric and a regular fit for total comfort during any workout.</p>
        </div>
        <p class="price-basket"><span class="price">$ 36.99</span><span class="basket-btn"><a href="#!"><img src="assets/img/ico-plus.jpg" alt=""/></a></span></p>
      </div>
    </article>
    <article><img src="assets/img/img43.jpg" alt=""/>
      <div class="block-4-main-content">
        <div class="description">
          <h2>Nike I-Beam Swoosh</h2>
          <h3>Sports Top</h3>
          <p>The Nike I-Beam Swoosh Women's Sports Top features a built-in bra and mesh back panel for lightweight support and targeted breathability.</p>
        </div>
        <p class="price-basket"><span class="price">$ 36.99</span><span class="basket-btn"><a href="#!"><img src="assets/img/ico-plus.jpg" alt=""/></a></span></p>
      </div>
    </article>
    <article><img src="assets/img/img44.jpg" alt=""/>
      <div class="block-4-main-content">
        <div class="description">
          <h2>Nike lux</h2>
          <h3>RRunning Top</h3>
          <p>
            The Nike Lux Women's Running Top is made with 
            lightweight Dri-FIT fabric and features a perforated 
            back panel for comfort and enhanced breathability.
            lightweight Dri-FIT fabric and features a perforated 
            back panel for comfort and enhanced breathability.
            lightweight Dri-FIT fabric and features a perforated 
            back panel for comfort and enhanced breathability.
            lightweight Dri-FIT fabric and features a perforated 
            back panel for comfort and enhanced breathability.
          </p>
        </div>
        <p class="price-basket"><span class="price">$ 36.99</span><span class="basket-btn"><a href="#!"><img src="assets/img/ico-plus.jpg" alt=""/></a></span></p>
      </div>
    </article>
  </div>
</section>