
<div class="about center-block-main">
  <h2>About</h2>
  <article>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dictum lectus sit amet varius pulvinar. Proin vitae 
      dui tincidunt nibh facilisis pellentesque.  Fusce tortor turpis, facilisis ut condimentum eu, sagittis at est.
    </p>
    <p>
      Praesent egestas posuere urna a egestas. Maecenas facilisis orci vitae ante  tempor accumsan. Aenean aliquam 
      justo ac sagittis vehicula. Nam mattis pretium odio sit amet vulputate.
    </p>
    <p>
      Quisque non lobortis orci. Morbi augue mauris, ultrices at fermentum ac, consequat vitae magna. Pellentesque 
      non cursus mi, eu cursus nunc. Nullam  et odio tristique, volutpat urna vitae, dignissim orci. Fusce eu nulla urna.
      This template was created by Erik Padamans.
    </p>
    <p>
      Praesent egestas posuere urna a egestas. Maecenas facilisis orci vitae ante  tempor accumsan. Aenean aliquam 
      justo ac sagittis vehicula. Nam mattis pretium odio sit amet vulputate.
    </p>
  </article>
  <div class="map">
    <div class="mapin">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10674.469045387666!2d37.801465988276234!3d48.021103877246986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xa4ee2c35505a72fe!2z0JTQvtC90LHQsNGB0YEg0JDRgNC10L3QsA!5e0!3m2!1sru!2sua!4v1461983014991" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
  </div>
</div>