body {
  color: #7e7f84;
  font-family: "Roboto-Regular", sans-serif;
}

a {
  color: #f45a40;
}

a:focus, a:active {
  color: #f45a40;
}

li {
  list-style: none;
}

.center-block-main {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  background-color: #fff;
  margin-top: 200px;
  margin-bottom: 50px;
}

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  -webkit-border-radius: 200px;
          border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:link:hover, .btn:link:active,
.btn:visited:hover,
.btn:visited:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #cf1790;
  color: #fff;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn-full:link:hover, .btn-full:link:active,
.btn-full:visited:hover,
.btn-full:visited:active,
input[type=submit]:hover,
input[type=submit]:active {
  border: 1px solid #cf6d17;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn-ghost:link:hover, .btn-ghost:link:active,
.btn-ghost:visited:hover,
.btn-ghost:visited:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

.header-top {
  border-bottom: 1px solid #eee;
}

.header-top::after {
  clear: both;
  content: "";
  display: table;
}

.logo {
  float: left;
  text-transform: uppercase;
  font-size: 1.375em;
  font-family: "RobotoCondensed-Regular", sans-serif;
}

.contact-basket {
  float: right;
}

.contact-basket p {
  float: left;
  font-size: .75em;
  font-weight: 600;
}

.contact-basket p img {
  vertical-align: middle;
  margin-right: 3px;
}

.header-phone {
  padding-top: 8px;
}

.header-basket {
  border: 1px solid  #eee;
  padding: 7px 25px;
  margin-left: 20px;
}

.header-basket a {
  text-transform: uppercase;
  color: #7e7f84;
  text-decoration: none;
  margin-left: 20px;
}

.header-basket a:hover {
  color: #f45a40;
}

.header-bottom::after {
  clear: both;
  content: "";
  display: table;
}

.menu, .search-block {
  float: left;
}

.menu li {
  float: left;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: .875em;
}

.menu li a {
  color: #7e7f84;
  text-decoration: none;
}

.menu li a:hover {
  color: #f45a40;
}

.search-block {
  padding-top: 15px;
}

.search-btn {
  float: left;
  margin: 2px 5px 0 0;
}

.search {
  float: left;
  font-size: .875em;
  color: #7e7f84;
  border: none;
  outline: none;
  line-height: 1.4;
}

.my-slider ul li {
  position: relative;
  color: #f45a40;
}

.my-slider ul li h2 {
  position: absolute;
  top: 200px;
  left: 30px;
  font-size: 3.6875em;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 600;
}

.my-slider ul li p {
  position: absolute;
  top: 370px;
  left: 30px;
  font-size: 0.875em;
}

.unslider-nav {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.block-3-main {
  margin-bottom: 50px;
}

.block-3-main::after {
  clear: both;
  content: "";
  display: table;
}

.block-3-main article {
  width: 31.6%;
  float: left;
  margin-left: 2.6%;
}

.block-3-main article:first-child {
  margin-left: 0;
}

.block-3-main article img {
  display: block;
  margin: 0 auto 20px auto;
}

.block-3-main article h2 {
  font-family: "Roboto Condensed Regular", sans-serif;
  font-size: 1.375em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.block-3-main article p {
  font-size: .875em;
}

.block-4-section {
  margin-bottom: 60px;
}

.block-4-section > h2 {
  text-align: center;
  font-family: "RobotoCondensed-Regular", sans-serif;
  color: #67686d;
  font-size: 1.375em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 300;
}

.block-4-main::after {
  clear: both;
  content: "";
  display: table;
}

.block-4-main article {
  width: 23%;
  margin-left: 2.6666666%;
  float: left;
}

.block-4-main article:first-child {
  margin-left: 0;
}

.block-4-main article img {
  display: block;
  margin: 0 auto;
}

.block-4-main-content {
  padding: 20px 20px 0 20px;
  border: 1px solid  #eee;
  border-top: 0;
}

.block-4-main-content h2 {
  color: #67686d;
  font-size: 1.125em;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 500;
}

.block-4-main-content h3 {
  color: #67686d;
  font-size: 0.875em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
  font-style: italic;
}

.block-4-main-content p {
  font-size: 0.625em;
  margin-bottom: 15px;
}

p.price-basket {
  border-top: 1px solid #eee;
  font-size: 0.875em;
  color: #f45a40;
  padding: 15px 0;
  margin-bottom: 0;
}

p.price-basket::after {
  clear: both;
  content: "";
  display: table;
}

.price {
  float: left;
}

.basket-btn {
  float: right;
}

/*# sourceMappingURL=../maps/main.css.map */
