body {
  color: #7e7f84;
  font-family: "Roboto-Regular", sans-serif;
}

a {
  color: #f45a40;
}

a:focus, a:active {
  color: #f45a40;
}

li {
  list-style: none;
}

.center-block-main {
  max-width: 1170px;
  margin: 0 auto;
}

.header-top {
  border-bottom: 1px solid #eee;
}

.header-top::after {
  clear: both;
  content: "";
  display: table;
}

.logo {
  float: left;
  text-transform: uppercase;
  font-size: 1.375em;
  font-family: "RobotoCondensed-Regular", sans-serif;
}

.contact-basket {
  float: right;
}

.contact-basket p {
  float: left;
  font-size: .75em;
  font-weight: 600;
}

.contact-basket p img {
  vertical-align: middle;
  margin-right: 3px;
}

.header-phone {
  padding-top: 8px;
}

.header-basket {
  border: 1px solid  #eee;
  padding: 7px 25px;
  margin-left: 20px;
}

.header-basket a {
  text-transform: uppercase;
  color: #7e7f84;
  text-decoration: none;
  margin-left: 20px;
}

.header-basket a:hover {
  color: #f45a40;
}

.header-bottom::after {
  clear: both;
  content: "";
  display: table;
}

.menu, .search-block {
  float: left;
}

.menu li {
  float: left;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: .875em;
}

.menu li a {
  color: #7e7f84;
  text-decoration: none;
}

.menu li a:hover {
  color: #f45a40;
}

.search-block {
  padding-top: 15px;
}

.search-btn {
  float: left;
  margin: 2px 5px 0 0;
}

.search {
  float: left;
  font-size: .875em;
  color: #7e7f84;
  border: none;
  outline: none;
  line-height: 1.4;
}

.my-slider ul li {
  position: relative;
  color: #f45a40;
}

.my-slider ul li h2 {
  position: absolute;
  top: 200px;
  left: 30px;
  font-size: 3.6875em;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 600;
}

.my-slider ul li p {
  position: absolute;
  top: 370px;
  left: 30px;
  font-size: 0.875em;
}

.unslider-nav {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.block-3-main {
  margin-bottom: 50px;
}

.block-3-main::after {
  clear: both;
  content: "";
  display: table;
}

.block-3-main article {
  width: 31.6%;
  float: left;
  margin-left: 2.6%;
}

.block-3-main article:first-child {
  margin-left: 0;
}

.block-3-main article img {
  display: block;
  margin: 0 auto 20px auto;
}

.block-3-main article h2 {
  font-family: "Roboto Condensed Regular", sans-serif;
  font-size: 1.375em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.block-3-main article p {
  font-size: .875em;
}

.block-4-section {
  margin-bottom: 60px;
}

.block-4-section > h2 {
  text-align: center;
  font-family: "RobotoCondensed-Regular", sans-serif;
  color: #67686d;
  font-size: 1.375em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 300;
}

.block-4-main::after {
  clear: both;
  content: "";
  display: table;
}

.block-4-main article {
  width: 23%;
  margin-left: 2.6666666%;
  float: left;
}

.block-4-main article:first-child {
  margin-left: 0;
}

.block-4-main article img {
  display: block;
  margin: 0 auto;
}

.block-4-main-content {
  padding: 20px 20px 0 20px;
  border: 1px solid  #eee;
  border-top: 0;
}

.block-4-main-content h2 {
  color: #67686d;
  font-size: 1.125em;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 500;
}

.block-4-main-content h3 {
  color: #67686d;
  font-size: 0.875em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
  font-style: italic;
}

.block-4-main-content p {
  font-size: 0.625em;
  margin-bottom: 15px;
}

p.price-basket {
  border-top: 1px solid #eee;
  font-size: 0.875em;
  color: #f45a40;
  padding: 15px 0;
  margin-bottom: 0;
}

p.price-basket::after {
  clear: both;
  content: "";
  display: table;
}

.price {
  float: left;
}

.basket-btn {
  float: right;
}

.about {
  margin-bottom: 60px;
}

.about::after {
  clear: both;
  content: "";
  display: table;
}

.about article {
  float: left;
  width: 60%;
}

.about article h2 {
  font-size: 1.325em;
  font-weight: 600;
  margin-bottom: 30px;
  color: #67686d;
}

.about article p {
  font-size: 0.875em;
  margin-bottom: 25px;
  font-style: italic;
  line-height: 21px;
  color: #7e7f84;
}

.about .map {
  float: right;
  width: 35%;
}

.mapin {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.mapin iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subscribe {
  background: #f45a40;
  color: #fff;
  padding: 30px 0;
}

.subscribe h2 {
  float: left;
  font-size: 1.325em;
  text-transform: uppercase;
}

.subscribe-form {
  float: right;
  margin-top: 15px;
}

.subscribe .subscribe-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.email-input {
  text-transform: uppercase;
  font-size: 0.875em;
  float: left;
  width: 200px;
  padding: 7px 20px;
  border: none;
}

.submit-input {
  background: #ff674f;
  float: left;
  margin-left: 20px;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 0.875em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.submit-input:hover {
  background: #ff974f;
}

.footer-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.footer {
  background: #2a2d34;
  padding: 40px 0;
}

.footer h2 {
  color: #fff;
  font-size: 1.325em;
  font-family: "RobotoCondensed-Regular", sans-serif;
  font-weight: 500;
}

.footer h3 {
  font-size: 0.875em;
  margin-bottom: 5px;
}

.footer h3 a {
  color: #fff;
  text-decoration: none;
}

.footer h3 a:hover {
  text-decoration: underline;
}

.footer p {
  font-size: 0.875em;
  margin-bottom: 20px;
}

.support {
  float: left;
  width: 47%;
  margin-right: 3%;
}

.support a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: #7e7f84;
  border-bottom: 2px solid #7e7f84;
  width: 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.support a:hover {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-bottom: 2px solid #7e7f84;
  width: 60px;
}

.footermail {
  width: 100%;
  text-transform: uppercase;
  font-size: .75em;
  margin-bottom: 15px;
  padding: 7px 20px;
  border: none;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footertext {
  width: 100%;
  text-transform: uppercase;
  font-size: .75em;
  margin-bottom: 15px;
  padding: 7px 20px;
  border: none;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footersubmit {
  text-transform: uppercase;
  font-size: .875em;
  padding: 7px 20px;
  border: none;
  outline: 0;
  background: #f45a40;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.footersubmit:hover {
  background: #ff974f;
}

@media (max-width: 900px) {
  .my-slider ul li h2 {
    top: 150px;
    font-size: 3em;
  }
  .my-slider ul li p {
    top: 280px;
  }
  .block-4-main article {
    width: 45%;
    margin: 0 2.5% 30px 2.5%;
  }
  .block-4-main article:first-child {
    margin: 0 2.5% 30px 2.5%;
  }
  .subscribe h2 {
    float: none;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .subscribe-form {
    float: none;
    display: table;
    margin: 0 auto;
  }
}

@media (max-width: 740px) {
  .my-slider ul li h2 {
    top: 100px;
    font-size: 2em;
  }
  .my-slider ul li p {
    top: 190px;
  }
  .search-block {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    padding: 5px 0 7px 0;
    float: right;
  }
}

@media (max-width: 600px) {
  .block-3-main article {
    width: 95%;
    float: none;
    margin: 0 2.5% 30px 2.5%;
  }
  .block-3-main article:first-child {
    margin: 0 2.5% 30px 2.5%;
  }
  .block-3-main article img {
    width: 100%;
  }
  .about article {
    float: none;
    width: 95%;
    margin: 0 2.5% 30px 2.5%;
  }
  .about .map {
    float: none;
    width: 95%;
    margin: 0 2.5% 30px 2.5%;
  }
}

@media (max-width: 480px) {
  .my-slider ul li h2 {
    top: 50px;
    font-size: 1.275em;
  }
  .my-slider ul li p {
    top: 110px;
  }
  .block-4-main article {
    width: 95%;
    margin: 0 2.5% 30px 2.5%;
    float: none;
    overflow: hidden;
  }
  .block-4-main article:first-child {
    margin: 0 2.5% 30px 2.5%;
    float: none;
  }
}

@media (max-width: 410px) {
  .header-top {
    padding: 10px 0;
  }
  .logo {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  .container-basket {
    float: none;
    display: table;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .email-input {
    float: none;
    width: 95%;
    margin: 0 2.5% 20px 2.5%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .submit-input {
    margin-left: 2.5%;
  }
  .my-slider ul li h2 {
    top: 30px;
    font-size: 1em;
  }
  .my-slider ul li p {
    top: 80px;
  }
}

/*# sourceMappingURL=../maps/main.css.map */
